h1,p {
    text-align: center; 
}

div,img {
    display: flex;
    justify-content: center;
    border-radius: 100px;
}


li a {
    text-decoration: none;
}

#list, #list1 li{
    text-align: center; 
    display: flex;
    display: inline;
    margin: 25px;
    justify-content: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.navbar li a {
    display: block;
    color: #666666;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: #dddddd;
}

.navbar li a.active {
    background-color: #04AA6D;
}